.cart-container {
  background-color: rgba(255, 153, 0, 0.3);
}
.fw-icon {
  font-size: 1.25rem;
}

.review-btn {
  text-decoration: none;
  color: white;
}

.review-btn:hover,
.review-btn:focus,
.review-btn:active {
  color: white;
}
