.card-img {
  border-radius: 1rem;
}

.cart-btn {
  background-color: #ecb86a;
  color: #0e161a;
  font-size: 15px;
}

.cart-btn:hover,
.cart-btn:active,
.cart-btn:focus {
  background-color: #f5a938;
}

