.form-container {
  max-width: 500px;
  margin: 0 auto;
  background: #ffffff;
  border: 1px solid #c9d5dd;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.form-title {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  /* identical to box height */

  letter-spacing: 0.0025em;

  color: #2a414f;
}

.form {
  width: 100%;
  padding: 0 2rem;
}

.login-btn {
  width: 100%;
  border: none;
  height: 45px;
  background: rgba(255, 153, 0, 0.3);
  border-radius: 5px;
  color: #0e161ada;
}

.login-btn:hover {
  background: rgba(255, 153, 0, 0.507);
}

.orange-text,
.orange-text:hover,
.orange-text:focus {
  color: #ff9900;
  text-decoration: none;
}

.new-signup {
  font-size: 15px;
  margin: 5px auto;
}

.or {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  color: #95a0a7;
  width: 90%;
  text-align: center;
  border-bottom: 1px solid #95a0a7;
  line-height: 0.1em;
  margin: 30px auto;
}

.or span {
  background-color: white;
  padding: 0 20px;
}

/* google sign in button */

.google-btn {
  width: 80%;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  margin: 30px 0px;
}
.google-btn .google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}
.google-btn .google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
}
.google-btn .btn-text {
  float: inline-start;
  margin: 11px 11px 0 0;
  padding: 0 0 0 50px;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: 'Roboto';
}
.google-btn:hover {
  box-shadow: 0 0 6px #4285f4;
}
.google-btn:active {
  background: #1669f2;
}
